.masthead-intro,
.masthead-heading {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url(http://i.imgur.com/Khz4Wi8.jpg);
  background-size: cover;
  border-top-style: solid;
  border-top-color: #e65c00;
}

.masthead-intro {
  margin-bottom: 0.1em;
}

.masthead-heading {
  margin-top: -0.2em;
}