.masthead-intro,
.masthead-heading {
  text-align: center;
}

.masthead {
  padding: 6em 0;
}

.masthead-intro {
  margin-bottom: 0.1em;
}

.masthead-heading {
  margin-top: -0.2em;
}

.masthead {
  background-image: url('http://7-themes.com/data_images/out/25/6852440-storm-clouds-background.jpg');
}

//.masthead-intro {
background-image: url('http://7-themes.com/data_images/out/25/6852440-storm-clouds-background.jpg');
background-color: black;
color: white;
text-align: center;
font-size: xx-large;

}